@font-face {
    /* font-family: Milligram-Bold;
    src: url(../fonts/Milligram-Bold.ttf);  */
    font-family: BeausiteClassic-Medium;
    src: url(../fonts/BeausiteClassic-Medium.otf);  
}
@font-face {
    font-family: VulfSans-Regular;
    src: url(../fonts/VulfSans-Regular.ttf); 
}

/* VARIABLES */
:root{
    /* colors */
    --body-clr: #000;
    /* --body-clr: #0a1628; */
    /* --title-clr: hsl(0, 0%, 100%); */
    --title-clr: #eee;
    --text-clr: #ddd;
    --first-clr: hsl(292, 96%, 44%);
    --second-clr: hsl(331, 90%, 61%);
    --third-clr: hsl(248, 70%, 50%);
    --primary-clr: ;
    --secondary-clr: ;
    --tertiary-clr: ;

    /* fonts family */
    --body-ff: VulfSans-Regular;
    --header-ff: BeausiteClassic-Medium;
    /* --header-ff: Milligram-Bold; */

    /* fonts size */
    --normal-fs: 1.05rem;
    --medium-fs: 1.26rem;
    /* --big-fs: 3.9rem; */
    --big-fs: 4rem;
    --big-fs-smallscreen: 4.2rem;
    --big-fs-mediumscreen: 5.4rem;
    --big-fs-largescreen: 6.2rem;
    --big-fs-xlargescreen: 8rem;
    --big-fs-overlargescreen: 10rem;

    /* fonts weight */
    --regular-fw: 1rem;
    --semibold-fw: 2rem;
    --bold-fw: 1rem;

    /* padding */
    /* --container-padding: 6rem; */
}

/* RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


/* DEFAULT REPONSIVENESS >> MOBILE-FIRST DESIGN */
/* 1. Smallest Screen e.g from watches to mobile phones */
body{
    background: var(--body-clr);
    color: var(--text-clr);
    font-family: var(--body-ff);
    font-size: var(--normal-fs);
}

/* REUSABLE CLASSES */
/* .container{
    max-width: 375px;
    margin-inline: auto;
    padding-inline: .8rem; 
} */

.flex{
    display: flex;
}

h1, h3, .nav__logo{ 
    color: var(--title-clr);
    font-family: var(--header-ff);
    font-weight: var(--regular);
}

/* NAVBAR */
/* ul{
    list-style: none;
}
a{
    text-decoration: none
}
img{
    max-width: 100%;
}
.nav__btns .btn{
    display: none;
} */

/* BANNER */
.caption__area{
    column-gap: 3rem
}
.logo__div{ width:10% }
.home__title{
    font-size: var(--big-fs);
    line-height: .86;
    margin-bottom: 1.5rem;
    background: green;
    width:90%;
}